.button--primary{
    background: var(--primary);
    transition: opacity 500ms ease-in-out, background 500ms ease-in-out;
}
.button--primary:hover,
.button--primary:active,
.button--primary:focus{
    background: var(--dark-blue);
}

.button--secondary{
    background: var(--secondary);
    transition: opacity 500ms ease-in-out, background 500ms ease-in-out;
}
.button--secondary:hover,
.button--secondary:active,
.button--secondary:focus{
    background: var(--dark-purple);
}

.button--alternate{
    background: var(--white);
    color:var(--grey-4);
    border: 1px solid var(--grey-3);
    transition: opacity 500ms ease-in-out, border 500ms ease-in-out;
}
.button--alternate:hover,
.button--alternate:active,
.button--alternate:focus{
    border: 1px solid var(--black);
}

.button--primary:disabled,
.button--secondary:disabled,
.button--alternate:disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
