.page{
    display:block;
    position: relative;
    padding:40px;
}

.skeleton{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding:24px;
    min-width: 579px;
    width:auto;
    height: 192px;
}

.skeleton__header{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
.skeleton__img{
    display: block;
    width: 80px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 32px;
}

.skeleton__title,
.skeleton__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    width:100%;
}

span{
    display: block;
    height: 20px;
    width:100%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__title span:nth-child(1){
    width:40%;
}
.skeleton__title span:nth-child(2){
    width:60%;
}
