
.footer{
    display: block;
    position: relative;
    width:640px;
    margin:0 auto;
    padding:65px 0;
    text-align: center;
    color: var(--black);
}

.footer__title{
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__text{
    font-size: 16px;
    line-height: 24px;
    max-width: 800px;
}