.input{
    position: relative;
    padding:20px 0;
    min-width: 350px;
}

.input__label{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--grey-3);
    width:100%;
}

.input__field{
    display: block;
    padding:15px 25px;
    margin-top:10px;
    border: 1px solid #DDE2E5;
    border-radius: 8px;
    color:var(--grey-2);
    width:100%;
    box-sizing: border-box;
}
.input__field:focus{
    border: 1px solid var(--blue);
    outline: none;
}
.input--normal::-webkit-input-placeholder {
    opacity: 0.5;
}
.input--invalid:focus{
    border: 1px solid var(--red);
}
.input__icon{
    display: block;
    position: absolute;
    top:50%;
    right:18px;
    width:24px;
    height:24px;
    transform: translate(0, -50%);
}

.input--invalid ~ .input__icon{
    background: url(image/icon-error.svg);
}

.input--success ~ .input__icon{
    background: url(image/icon-success.svg);
}